In [15]:
import numpy as np
import pandas as pd

In [10]:
csv = pd.read_csv('CRIME_HISTORICAL_DATA.csv')

In [12]:
csv = csv[['Lat', 'Long', 'UC2_Literal', 'Report Date']]

In [16]:
csv['UC2_Literal'].unique()

array(['HOMICIDE', 'ROBBERY-PEDESTRIAN', 'AGG ASSAULT',
       'BURGLARY-RESIDENCE', 'BURGLARY-NONRES', 'LARCENY-NON VEHICLE',
       'LARCENY-FROM VEHICLE', 'AUTO THEFT', 'ROBBERY-COMMERCIAL',
       'ROBBERY-RESIDENCE'], dtype=object)

In [17]:
csv

           Lat      Long         UC2_Literal Report Date
0     33.77341 -84.42157            HOMICIDE  01/31/2009
1     33.77303 -84.37190  ROBBERY-PEDESTRIAN  01/31/2009
2     33.77347 -84.35767  ROBBERY-PEDESTRIAN  01/31/2009
3     33.66970 -84.49403         AGG ASSAULT  01/31/2009
4     33.75471 -84.48939         AGG ASSAULT  01/31/2009
...        ...       ...                 ...         ...
3525  33.72951 -84.38735          AUTO THEFT  01/01/2009
3526  33.72828 -84.38787          AUTO THEFT  01/01/2009
3527  33.73910 -84.43743          AUTO THEFT  01/01/2009
3528  33.68869 -84.36881          AUTO THEFT  01/01/2009
3529  33.72544 -84.44497          AUTO THEFT  01/01/2009

[3530 rows x 4 columns]